SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0202", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0289", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0285", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0287", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0719", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c12", ATTRS{idProduct}=="8809", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="044f", ATTRS{idProduct}=="0f07", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c242", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="ca84", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="ca88", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="05fd", ATTRS{idProduct}=="1007", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="05fd", ATTRS{idProduct}=="107a", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4516", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4522", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4526", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4536", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4540", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4556", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4716", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="4738", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="6040", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c12", ATTRS{idProduct}=="8802", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c12", ATTRS{idProduct}=="880a", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c12", ATTRS{idProduct}=="8810", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c12", ATTRS{idProduct}=="9902", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e4c", ATTRS{idProduct}=="1097", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e4c", ATTRS{idProduct}=="2390", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0003", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0005", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0006", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0006", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0201", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e8f", ATTRS{idProduct}=="0201", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f30", ATTRS{idProduct}=="0202", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f30", ATTRS{idProduct}=="8888", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="102c", ATTRS{idProduct}=="ff0c", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="12ab", ATTRS{idProduct}=="8809", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="12ab", ATTRS{idProduct}=="0004", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0e6f", ATTRS{idProduct}=="0105", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1430", ATTRS{idProduct}=="4748", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1430", ATTRS{idProduct}=="8888", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="146b", ATTRS{idProduct}=="0601", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="028e", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1bad", ATTRS{idProduct}=="0002", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1bad", ATTRS{idProduct}=="0003", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0016", GOTO="xbox-pad"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="000d", GOTO="xbox-pad"

GOTO="end"

LABEL="xbox-pad"
ACTION=="add", RUN+="/sbin/start xboxdrv"
ACTION=="remove", RUN+="/sbin/stop xboxdrv"


GOTO="end"

LABEL="end"
